.inner {
  max-width: 540px;
  max-height: 706px;

  width: 100vw;
  height: 100vh;

  padding: 0 24px;

  overflow: hidden;
}

.numberHolder {
  display: flex;
  flex-direction: row-reverse;

  width: calc(100% - 64px);

  padding: 40px 30px;
  margin-top: 32px;

  background: #181F33;
  border-radius: 10px;

  display: flex;
}

.numberText {
  font-size: 56px;
  line-height: 52px;
  text-align: right;
  letter-spacing: -0.933333px;
}